@import "./main.scss";

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: $primary-color;
	color: white;
	font-family: "Arial", sans-serif;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bb {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	max-width: 500px;
}

.bb img {
	width: 100%;
	height: 200px;
}

.level-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	text-align: center;
	color: inherit;
	text-decoration: none;
	border: 0;
	border-radius: 15px;
	&:hover {
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
	&:focus {
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
}

.level-container .textholder {
	padding: 20px;
}

.level-container .title {
	font-size: 1.5rem;
	margin-bottom: 10px;
	text-align: left;
}

.level-container .description {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.7);
	text-align: left;
}

.level-picture {
	height: auto;
	width: 250px;
}
