@import "./main.scss";

.result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: $primary-color;
	color: white;
	font-family: "Arial", sans-serif;
}

h2 {
	margin-bottom: 20px;
}

.result-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.result-text {
	text-align: center;
	margin-bottom: 20px;
}

.result-text p {
	font-size: 1.2em;
}

.result-image {
	margin-top: 20px;
}

.result-image img {
	max-width: 100%;
}

.buttons-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.buttons-container button {
	padding: 10px 20px;
	font-size: 1em;
	background-color: $primary-color;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buttons-container button:hover {
	background-color: darken($primary-color, 10%);
}
